<%- include header %>
<div class="main">
	<div class="about-container">
		<div class="about-item" >
			<h1>Packages</h1>
			You choose from thousands of open source packages that
			add new features and functionality to Atom—or build a
			package from scratch and publish it for everyone else to use.
		</div>
		<img src="https://cdn0.froala.com/assets/froala/pages/tools-2fd90f3499cbd30f4e6dde5b118505da.svg" alt="">
	</div>
	<div class="about-container">
		<img src="https://cdn0.froala.com/assets/editor/pages/B/customers-0c43c5403c532da5f908464e39b9ca59.svg" alt="">
		<div class="about-item">
			<h1>Themes</h1>
			Atom comes pre-installed with four UI and eight syntax
			themes in both dark and light colors. If you can't find
			what you're looking for, you can also install themes created
			by the Atom community or create your own.
		</div>
	</div>
	</div>
<%- include footer %>
