<%- include header %>
<div class="main">
  <div class="article clear-fix">
    <div class="section section-1">
      <div class="section-title clear-fix">
        <div class="section-title-text">
          <h1>One</h1>
          <p>Level2 Title</p>
        </div>
        <div class="section-title-pic">
          <img src="https://raw.githubusercontent.com/lazysheep666/efe-task/master/phase2/img/section1.gif"
          alt="section-pic" width="80" height="90">
        </div>
      </div>
      <div class="section-content-text">
        Some text Some text Some text Some text Some text Some text Some text
      </div>
    </div>
    <div class="section section-2">
      <div class="section-title clear-fix">
        <div class="section-title-text">
          <h1>Two</h1>
          <p>Level2 Title</p>
        </div>
        <div class="section-title-pic">
          <img src="https://raw.githubusercontent.com/lazysheep666/efe-task/master/phase2/img/section2.gif"
          alt="section-pic" width="80" height="90">
        </div>
      </div>
      <div class="section-content-text">
        Some text Some text Some text Some text Some text Some text Some text
      </div>
    </div>
    <div class="section section-3">
      <div class="section-title clear-fix">
        <div class="section-title-text">
          <h1>Three</h1>
          <p>Level2 Title</p>
        </div>
        <div class="section-title-pic">
          <img src="https://raw.githubusercontent.com/lazysheep666/efe-task/master/phase2/img/section3.gif"
          alt="section-pic" width="80" height="90">
        </div>
      </div>
      <div class="section-content-text">
        Some text Some text Some text Some text Some text Some text Some text
      </div>
    </div>
  </div>
  <div class="center">
    <div class="center-pic-container clear-fix">
      <div class="center-pic">
        <img src="http://whiteboardfive.imgix.net/wp-content/uploads/2015/06/whiteboard-interactive.png?dpr=2&w=1920&q=40&fm=jpg"
        alt="center-pic" width="960px" height="400px">
        <p class="center-pic-text"><a href="/join">Work with us</a></p>
      </div>
      <div class="center-pic">
        <img src="http://whiteboard.is/wp-content/themes/wb5/assets/images/whiteboard-writing-2.jpg" alt="center-pic" width="960px" height="400px">
        <p class="center-pic-text"><a href="/product">Our product</a></p>
      </div>
      <div class="center-pic">
        <img src="http://whiteboard.is/wp-content/themes/wb5/assets/images/company.jpg"
        alt="center-pic" width="960px" height="400px">
        <p class="center-pic-text"><a href="/about">About us</a></p>
      </div>
      <div class="center-pic">
        <img src="http://whiteboardfive.imgix.net/wp-content/uploads/2015/06/whiteboard-interactive.png?dpr=2&w=1920&q=40&fm=jpg"
        alt="center-pic" width="960px" height="400px">
        <p class="center-pic-text"><a href="/join">Work with us</a></p>
      </div>
    </div>
    <div class="center-pic-changes">
        <a href="javascript:void(0)" class="center-pic-change center-pic-on"></a>
        <a href="javascript:void(0)" class="center-pic-change"></a>
        <a href="javascript:void(0)" class="center-pic-change"></a>
    </div>
  </div>
  <div class="excel">
    <div class="execl-tabs">
      <div class="execl-tab"><a href="javascript:void(0)">COMPUTER</a></div>
      <div class="execl-tab execl-tab-on"><a href="javascript:void(0)">PHONE</a></div>
      <div class="execl-tab"><a href="javascript:void(0)">PAD</a></div>
    </div>
    <div class="execl-table-caption">Table Caption</div>
    <table class="execl-table execl-table-on">
      <thead>
        <tr>
          <th></th>
          <th>Free Version</th>
          <th>Personal Version</th>
          <th>Company Version</th>
        </tr>
      </thead>
      <tr>
        <td>Feature A</td>
        <td>Some Text Some Text Some Text</td>
        <td>Some Text Some Text Some Text</td>
        <td>Some Text Some Text Some Text</td>
      </tr>
      <tr>
        <td>Feature B</td>
        <td>Some Text Some Text Some Text</td>
        <td>Some Text Some Text Some Text</td>
        <td>Some Text Some Text Some Text</td>
      </tr>
      <tr>
        <td>Feature C</td>
        <td>Some Text Some Text Some Text</td>
        <td>Some Text Some Text Some Text</td>
        <td>Some Text Some Text Some Text</td>
      </tr>
      <tr>
        <td>Feature D</td>
        <td>Some Text Some Text Some Text</td>
        <td>Some Text Some Text Some Text</td>
        <td>Some Text Some Text Some Text</td>
      </tr>
      <tr class="price-row">
        <td>Price</td>
        <td class="price-free">Free</td>
        <td class="price-person">$99.9/<span>mo</span></td>
        <td class="price-company">$999.9/<span>mo</span></td>
      </tr>
    </table>
    <table class="execl-table">
      <thead>
        <tr>
          <th></th>
          <th>Free Version</th>
          <th>Personal Version</th>
          <th>Company Version</th>
        </tr>
      </thead>
      <tr>
        <td>Feature A</td>
        <td>Some Text Some Text Some Text</td>
        <td>Some Text Some Text Some Text</td>
        <td>Some Text Some Text Some Text</td>
      </tr>
      <tr>
        <td>Feature B</td>
        <td>Some Text Some Text Some Text</td>
        <td>Some Text Some Text Some Text</td>
        <td>Some Text Some Text Some Text</td>
      </tr>
      <tr>
        <td>Feature C</td>
        <td>Some Text Some Text Some Text</td>
        <td>Some Text Some Text Some Text</td>
        <td>Some Text Some Text Some Text</td>
      </tr>
      <tr>
        <td>Feature D</td>
        <td>Some Text Some Text Some Text</td>
        <td>Some Text Some Text Some Text</td>
        <td>Some Text Some Text Some Text</td>
      </tr>
      <tr class="price-row">
        <td>Price</td>
        <td class="price-free">Free</td>
        <td class="price-person">$11.1/<span>mo</span></td>
        <td class="price-company">$111.1/<span>mo</span></td>
      </tr>
    </table>
    <table class="execl-table">
      <thead>
        <tr>
          <th></th>
          <th>Free Version</th>
          <th>Personal Version</th>
          <th>Company Version</th>
        </tr>
      </thead>
      <tr>
        <td>Feature A</td>
        <td>Some Text Some Text Some Text</td>
        <td>Some Text Some Text Some Text</td>
        <td>Some Text Some Text Some Text</td>
      </tr>
      <tr>
        <td>Feature B</td>
        <td>Some Text Some Text Some Text</td>
        <td>Some Text Some Text Some Text</td>
        <td>Some Text Some Text Some Text</td>
      </tr>
      <tr>
        <td>Feature C</td>
        <td>Some Text Some Text Some Text</td>
        <td>Some Text Some Text Some Text</td>
        <td>Some Text Some Text Some Text</td>
      </tr>
      <tr>
        <td>Feature D</td>
        <td>Some Text Some Text Some Text</td>
        <td>Some Text Some Text Some Text</td>
        <td>Some Text Some Text Some Text</td>
      </tr>
      <tr class="price-row">
        <td>Price</td>
        <td class="price-free">Free</td>
        <td class="price-person">$22.2/<span>mo</span></td>
        <td class="price-company">$222.2/<span>mo</span></td>
      </tr>
    </table>

  </div>
</div>
<%- include footer %>
