<%- include header %>
<div class="main">
	<form class="form">
		<div class="form-content">
			<div class="form-item">
				<input type="text" id="select-country" class="select-item" value="" name="country" placeholder="select your country" readonly>
				<div class="country-choices">
					<div class="country-choice">
						无
					</div>
					<div class="country-choice">
						中国
					</div>
					<div class="country-choice">
						美国
					</div>
					<div class="country-choice">
						英国
					</div>
				</div>
			</div>
			<div class="form-item">
				<input type="text" id="select-city" class="select-item" value="" name="city" placeholder="select your city" readonly>
				<div class="city-choices" style="">
				</div>
			</div>
			<div class="form-item">
				<input class="input-email" type="text" name="" value="" placeholder="input your email address">
				<div class="select-choices">

				</div>
				<button class="form-submit" type="button" name="button" >Submit</button>
			</div>
		</div>
		<img src="https://raw.githubusercontent.com/lazysheep666/efe-task/master/phase2/img/form-pic.gif"
		alt="form-pic" alt="form-pic" class="form-pic">
	</form>
</div>
<%- include footer %>
