<%- include header %>
<div class="main">
	<div class="product-cate-container">
		<img src="https://store.storeimages.cdn-apple.com/8750/as-images.apple.com/is/image/AppleInc/aos/published/images/i/ma/imac/215/imac-215-retina-selection-hero-201706?wid=904&hei=840&fmt=jpeg&qlt=95&op_sharpen=0&resMode=bicub&op_usm=0.5,0.5,0,0&iccEmbed=0&layer=comp&.v=1495846295922" alt="" width="400" height="400">
		<div class="product-cate">
			<h1>Computer</h1>
			Text Text Text Text Text Text Text Text Text
			Text Text Text Text Text Text Text Text Text
			Text Text Text Text Text Text Text Text Text
			Text Text Text Text Text Text
			<br>
			<br>
			<a href="/product/computer">more details</a>
		</div>
	</div>
	<div class="product-cate-container">
		<div class="product-cate">
			<h1>Phone</h1>
			Text Text Text Text Text Text Text Text Text
			Text Text Text Text Text Text Text Text Text
			Text Text Text Text Text Text Text Text Text
			Text Text Text Text Text Text
			<br>
			<br>
			<a href="/product/phone">more details</a>
		</div>
		<img src="https://images.apple.com/cn/iphone/home/images/ways_to_buy_large_2x.jpg" alt="" width="400" height="400">
	</div>
	<div class="product-cate-container">
		<img src="https://images.apple.com/cn/ipad-9.7/home/images/hero_large_2x.jpg" alt="" width="500" height="400">
		<div class="product-cate">
			<h1>Pad</h1>
			Text Text Text Text Text Text Text Text Text
			Text Text Text Text Text Text Text Text Text
			Text Text Text Text Text Text Text Text Text
			Text Text Text Text Text Text
			<br>
			<br>
			<a href="/product/pad">more details</a>
		</div>
	</div>
</div>
<%- include footer %>
